/*Inicio Pag Diario*/

div.diario#foto
{
    display: block;
    height: 300px;
    width: 300px;
    margin: auto;
    background-color: var(--corBodyEscuroGlobal);
    box-shadow: 5px 5px 15px #000000c2;
    border-radius: 5px;

}

.blocoDiario
{
    margin: 5px;
    background-color: var(--corBodyEscuroGlobal);
    box-shadow: 5px 5px 15px #000000c2;
    min-height: 250px;
    width: 275px;
    border-radius: 5px;
    list-style-position: inside;

}

button.redeSocial{
    height: 55px;
    width: 200px;
    display: block;
    margin: 5px auto 5px 10px;
    background-color: var(--corBodyClaroGlobal);
}

p.redeSocial{
    font-size: 1.25em;
}